<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link rel="stylesheet" href="styles/main.scss">
</head>
<body>
  <header>
    <h1>Travel Planner</h1>
  </header>
  <form id="trip-details">
    <label for="city">My trip to</label>
    <input type="text" id="city" placeholder="City, Country">
    <label for="date">Departing on</label>
    <input type="date" id="date" placeholder="mm/dd/yyyy">
    <input type="submit" value="Submit">
  </form>
  <main>
    <section id="leftcolumn">
      <img id= "trip-pic" src="https://images.pexels.com/photos/2082949/pexels-photo-2082949.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
    </section>
    <section id="rightcolumn">
      <div id="results">
        <div id="weather">trip weather here</div>
        <div id="temp">temp</div>
      </div>
    </section>
  </main>
</body>
<script type="text/javascript" src="main.js"></script></body>

</html>