@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins:200,300&display=swap');

$font: 'Poppins', sans-serif;
$main-color: rgb(73, 129, 133);
$title-font: 'Permanent Marker', cursive;
$text-color: rgb(43, 70, 72);


*{
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
    font-weight: 200;
    color: $text-color;
}

/*HEADER*/
header, form {
    text-align: center;
   
}

header {
    background-color: $main-color;
    color: white;
}

h1 {
    height: 10vh;
    padding: 3% 0;
    font-size: 55px;
    font-weight: 300;
    text-shadow: 0px 0px 10px rgb(59, 97, 99);
    font-family: $title-font;
}

/*MAIN*/
main {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;

}

#leftcolumn {
    width: 50%;
    text-align: right;
}

#rightcolumn {
    width: 45%;
    text-align: left;
    background-color:white;
}

#tripPic {
    width: 500px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 3px;
}

#results {
    width: 90%;
}

h2 {
    font-weight: 300;
    text-align: left;
    margin: 15px 0;
    font-size: 22px;
}

#tripPic, #results {
    margin: 20px;
    height: 90%;
}

.resultText {
    font-size: 19px;
    line-height: 30px;
}

.flag {
    width: 25px;
    border: 1px solid;
    box-shadow: 0px 0px 2px 1px rgba(126, 126, 126, 0.507);
}

.hidden {
  visibility:hidden;
}

